// Use this to customise the styles of your forum.
$primary-color: #f99c19;
$body-font-color: #292929;
$dark-color: #505050;
$label-color: #7cd2ff;
$secondary-btn-color: #f1f1f1;

// Define nav bar colours.
$navbar-color: #17181f;
$navbar-border-color-dark: $navbar-color;
$navbar-primary-color: #fee860;